/* Styles go here */


body {
 
    font-size: 2.5vw;
  
}
select {
     font-size: 2.5vw;
     width: 25vw;
    
}
input {
     font-size: 2.5vw;
     width: 25vw;
}




p {
    text-align: justify;
    margin: 1cm 2cm 1cm 2cm;
}

.blue {
    text-decoration-color: blue;
}
input.ng-invalid.ng-dirty {
    border: 1px solid red;
}
.error {

    font-size: small;
    color: red;
}
picture {
    width: 100%;
    height: 100%;
}
#parent {
     margin: auto auto auto auto;
   padding: 5vh;
}


#center { 
    position: fixed;
    top: 35vw;
    left: 5vw;
    width: 90vw;
    height: 30vw;

    display: flex;
    margin: auto auto auto auto;
    background-color: lightgrey;
    border: solid black;
}
#left {	
    position: fixed;
    top: 5vw;
    left: 5vw;
    width: 35vw;
    height: 30vw;
    border: solid black;

    display: flex;


}
#right { 
    position: fixed;
    top: 5vw;
    left: 40vw;
    width: 55vw;
    height: 30vw;
     border-left: solid white;
     border-top: solid black; 
     border-bottom: solid black;
     border-right:  solid black;
    display: flex;
   
}
img {
    max-height: 93%;
    max-width: 93%;
    margin: auto auto auto auto;
}
