<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://code.angularjs.org/1.3.11/angular.js"></script>
    <script src="js/script.js"></script>
  </head>

  <body>
  <!--    ng-init="femalename='female name'; jobtitle='job title';
 tedioustask='tedious task'; dirtytask='dirty task';celebrity='celebrity';
 uselessskill='useless skill'; adjective='adjective'; obnoxiuouscelbertity='obnoxiuous celbertity';
 hugenumber='huge number';"
    -->

  <table ng-controller="myCtrl">
    <tr>
      <td><img src="https://photos-4.dropbox.com/t/2/AADccOZQa0cLJn2qDEQFkiI4dA3BQJK7YoeTxhrQmVECUA/12/15152010/png/32x32/1/1445562000/0/2/mad-lib-happy-face.png/CIrnnAcgASACIAMgBSAHKAEoAigH/4_yurSVYWZDQ9wUwpmplPAidMTOH5JCZi5jHI8C-nTE?size=1024x768&amp;size_mode=2"
        width="70%"></td>
      <td><img src="https://photos-2.dropbox.com/t/2/AACqOL1VgvOqptoXqtK5lX7FIkDDw4_WQrXZoAe4u6xHIw/12/15152010/png/32x32/1/1445562000/0/2/ng-mad-libs-logo.png/CIrnnAcgASACIAMgBSAHKAEoAigH/eS66ujO0LLT9gOuJ5Ix5W_W2SVabAIIWgWFZf2ubFZs?size=1024x768&amp;size_mode=2"
        width="100%"></td>
    </tr>
    <tr>
      <td colspan="2" ng-class="{blue: femalename}">
        <input type="text" ng-model="femalename" />
        <input type="text" ng-model="jobtitle" />
        <input type="text" ng-model="tedioustask" />
        <input type="text" ng-model="dirtytask" />
        <input type="text" ng-model="celebrity" />
        <input type="text" ng-model="uselessskill" />
        <input type="text" ng-model="adjective" />
        <input type="text" ng-model="obnoxiuouscelbertity" />
        <input type="text" ng-model="hugenumber" />


      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>
          {{femalename}} was a {{jobtitle}} who loved technology. Although she loved parts of her job, she absolutely hated
          {{tedioustask}} and {{dirtytask}}. So, {{femalename}} met with her life mentor {{celebrity}} who told her to learn 
          how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead.
        </p>
        <p>
          What a great decision! With her new skills, {{femalename}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}}
          that not only loved {{dirtytask}} but did it {{hugenumber}} faster.
        </td>
    </tr>    
  </body>

  
 

      
    

  
  {{ version }}


  </body>

</html>
