<form name="madForm">
<tr>
    <td colspan="2" ng-class="{blue: femalename}" ng-model="formMessage">
        <input type="text" ng-model="femalename" required ng-minlength ="2" ng-pattern=""/>
        <input type="text" ng-model="jobtitle" />
        <input type="text" ng-model="tedioustask" />
        <input type="text" ng-model="dirtytask" />
        <input type="text" ng-model="celebrity" />
        <input type="text" ng-model="uselessskill" />
        <input type="text" ng-model="adjective" />
        <input type="text" ng-model="obnoxiuouscelbertity" />
        <input type="text" ng-model="hugenumber" />


    </td>
</tr>
</form>
