<tr>
    <td colspan="2">
        <p>
            {{femalename}} was a {{jobtitle}} who loved technology. Although she loved parts of her job, she absolutely hated
            {{tedioustask}} and {{dirtytask}}. So, {{femalename}} met with her life mentor {{celebrity}} who told her to learn
            how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead.
        </p>
        <p>
            What a great decision! With her new skills, {{femalename}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}}
            that not only loved {{dirtytask}} but did it {{hugenumber}} faster.
    </td>
</tr>