<div ng-hide="madForm.$submitted && madForm.$valid">
<form name="madForm" ng-submit="madLib()" novalidate class="error" ng-model-options="{ updateOn: 'submitted' }">


        <div id="box1">
        <select name="femalenames" ng-model="femalename" ng-options="femalename.name for femalename in femalenames" required>
            <option value='' disabled selected>Select a Female Name</option></select><br />
            <span ng-show="madForm.$dirty && madForm.femalenames.$error.required">Choosing a name is required.</span>
        </div>
    
        <div ng-repeat="input in inputs" id="{{input.id}}">
            <input 
                type="{{input.type}}" 
                name="{{input.name}}" 
                ng-model="input.model"
                required
                placeholder="{{input.placeholder}}" 
                   />
            
        </div>    

        <div id="box10">
        <input type="submit" value="Generate My Mad Lib" />
        </div>

</form>
</div>
<div  ng-show="madForm.$submitted && madForm.$valid">


        <p>
            {{femalename.name}} was a {{jobtitle}} who loved technology. Although she loved parts of her job, she absolutely hated
            {{tedioustask}} and {{dirtytask}}. So, {{femalename.name}} met with her life mentor {{celebrity}} who told her to learn
            how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead.
        </p>
        <p>
            What a great decision! With her new skills, {{femalename.name}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}}
            that not only loved {{dirtytask}} but did it {{hugenumber}} faster.<br />
            <input type="button" ng-click="reset()" value="Start Over" ng-model-options="{ updateOn: 'reset' }" />

</div>