<form name="madForm" ng-submit="madLib(madForm.$valid)" novalidate>
<tr>
    <td colspan="2">
        
        <select ng-model="selected.xfemalenames" ng-options="xfemalenames.name for xfemalenames in xfemalename" required><option value='' disabled selected>Select a Female Name</option></select>
            <span class="error" ng-if="madForm.selected.xfemalenames.$valid.required">Choose a females name.9</span>

        <!-- <input type="text" ng-model="xfemalename" required ng-minlength ="2" ng-pattern=""/>-->
        <input type="text" ng-model="xjobtitle" required placeholder='Job Title'/>
        <input type="text" ng-model="xtedioustask" required  placeholder='Tedious Task'/>
              <span ng-show="madForm.xtedioustask.$valid">Please Enter a Tedious Task</span>
        <input type="text" ng-model="xdirtytask" required  placeholder='Dirty Task'/>
              <span ng-show="madForm.xdirtytask.$valid">Please Enter a Dirty Task</span>
        <input type="text" ng-model="xcelebrity" required  placeholder='Celebrity's Name'/>
              <span ng-show="madForm.xcelebrity.$valid">Please Enter a Celebrity's Name</span>
        <input type="text" ng-model="xuselessskill" required  placeholder='Useless Skill'/>
              <span ng-show="madForm.xuselessskill.$valid">Please Enter a Useless Skill</span>
        <input type="text" ng-model="xadjective" required  placeholder='Adjective'/>
              <span ng-show="madForm.xadjective.$valid">Please Enter an Adjective</span>
        <input type="text" ng-model="xobnoxiuouscelbertity" required  placeholder='Obnoxiuos Celebrity'/>
              <span ng-show="madForm.xobnoxiuouscelbertity.$valid">Please  Enter an Obnoxiuos Celebrity</span>
        <input type="text" ng-model="xhugenumber" required  placeholder='Huge Number'/>
              <span ng-show="madForm.xhugenumber.$valid">Please Enter a Huge Number</span>
        <input type="submit" value="Submit" ng-disabled="userForm.$invalid" />

    </td>
</tr>
</form>
<div  ng-show="madForm.$submitted">
<tr>
    <td colspan="2">
        <p>
            {{femalename}} was a {{jobtitle}} who loved technology. Although she loved parts of her job, she absolutely hated
            {{tedioustask}} and {{dirtytask}}. So, {{femalename}} met with her life mentor {{celebrity}} who told her to learn
            how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead.
        </p>
        <p>
            What a great decision! With her new skills, {{femalename}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}}
            that not only loved {{dirtytask}} but did it {{hugenumber}} faster.
    </td>
</tr>
</div>